// ----------------------------------------
// // ------ Social Sharing Buttons -------
// ----------------------------------------

// ----------------------------------------
// // ------ Twitter Button -------
// ----------------------------------------

$btn-tweet-bg-color: #41b7d8;
$btn-tweet-border-color: #41b7d8;
$btn-tweet-bg-hover-color: #3697b2;
$btn-tweet-border-hover-color: #3697b2;

// ----------------------------------------
// // ------ Facebook Button -------
// ----------------------------------------

$btn-facebook-bg-color: #3b5997;
$btn-facebook-border-color: #3b5997;
$btn-facebook-bg-hover-color: #2c4370;
$btn-facebook-border-hover-color: #2c4370;

// ----------------------------------------
// // ------ Google Button -------
// ----------------------------------------

$btn-google-bg-color: #d64937;
$btn-google-border-color: #d64937;
$btn-google-bg-hover-color: #b03d2e;
$btn-google-border-hover-color: #b03d2e;

// ----------------------------------------
// // ------ LinkedIn Button -------
// ----------------------------------------


$btn-linkedin-bg-color: #0073b2;
$btn-linkedin-border-color: #0073b2;
$btn-linkedin-bg-hover-color: #005b8c;
$btn-linkedin-border-hover-color: #005b8c;